.hero {
  font-family: "helvetica";
  margin: 0;
  padding: 5px;
  font-size: 25px;
  text-align: center;
}
.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 175px);
  grid-template-rows: repeat(4, 175px);
  justify-content: center;
  background-color: #ff6700;
  display: center;
  background-size: 500px 500px;
}

#bottom {
  padding: 0;
}
#reset {
  width: 100px;
  height: 30px;
  background-color: #ff9c38;
  color: white;
  border-color: #ff9c38;
}
.tile {
  background-color: #ff9c38;
  font-size: 60px;
  line-height: 175px;
  color: transparent;
}
.tile.clicked {
  color: black;
}
@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(4, 125px);
    grid-template-rows: repeat(4, 125px);
  }
  .tile {
    font-size: 50px;
    line-height: 125px;
    color: transparent;
  }
  .tile.clicked {
    color: black;
  }
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: repeat(4, 75px);
  }
  .tile {
    font-size: 30px;
    line-height: 75px;
    color: transparent;
  }
  .tile.clicked {
    color: black;
  }
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}
